KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=ridestream
GPS_EVENTS_TOPIC=gps-events
ETA_UPDATES_TOPIC=eta-updates
ETA_GROUP_ID=ridestream-eta
LIVE_MAP_GROUP_ID=ridestream-live-map
SCHEMA_REGISTRY_URL=http://localhost:8081
DRIVER_COUNT=10
